h1{
    color: blue;
    text-align: center;
    text-decoration: overline;
    text-transform: uppercase;
    font-size: 70px;
    text-shadow: 8px 5px 3px grey;
    letter-spacing: 25px;
}

p{
    text-indent: 50px;
    word-spacing: 20px;
    line-height: 30px;
    white-space: normal;
}